@media(min-width: 50em) {
  main {
    padding-left: 5em;
    padding-right: 5em;
  }

  .card-container {
    gap: 2em;
  }
}

/* index page */
.card-create-post-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
}

.card-blur-elements {
  filter: blur(2px);
}

.card-create-post {
  position: relative;
  z-index: 1;
}

.card-create-post-container .card.position-absolute {
  z-index: 2;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em;
}
