{% extends "base.html" %}

{% block title %} 
    Signup Page 
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 my-auto">
      <form method="POST" action="" class="card mt-5">
        {% csrf_token %}
        <div class="card-header">
          <h3>Sign up</h3>
        </div>
        <div class="card-body d-flex flex-column gap-3">
          <div class="form-group d-flex">
            {{form.username.label}}
            {{form.username}}
            <small id="usernameHelp" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
          </div>
          <div class="form-group">
            {{form.email.label}}
            {{form.email}}
            <small id="emailHelp" class="form-text text-muted">Enter a valid email address.</small>
          </div>
          <div class="form-group">
            {{form.password1.label}}
            {{form.password1}}
            <small id="passwordHelp" class="form-text text-muted">Your password can’t be too similar to your other personal information.</small>
          </div>
          <div class="form-group">
            {{form.password2.label}}
            {{form.password2}}
            <small id="passwordHelp" class="form-text text-muted">Enter the same password as before, for verification.</small>
          </div>

          <div class="form-errors">
            {{form.errors}}
          </div>

          <div class="d-flex justify-content-center links">
            Already have an account?⠀
            <a href="/login" class="ml-2">Login</a>
          </div>
          <input type="submit" value="Sign up" class="w-25 btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}